{
  "root": true,
  "extends": [
    "@mntm",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:node/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": [
    "node",
    "import"
  ],
  "rules": {
    "global-require": 0,
    "no-undefined": 0,
    "no-process-exit": 0,
    "no-sync": 0,
    "class-methods-use-this": 0,
    "strict": 0,
    "unicorn/no-process-exit": 0,
    "unicorn/no-array-reduce": 0,
    "@typescript-eslint/no-require-imports": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/no-implicit-any-catch": 0,
    "@typescript-eslint/restrict-plus-operands": 0,
    "@typescript-eslint/no-throw-literal": 0,
    "sonarjs/no-nested-template-literals": 0,
    "node/shebang": 0
  }
}
